%title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    justify-content: row;
    padding-top: 5px;
}

 %h3 {
     justify-content: row;
     text-decoration: none;
     font-weight: bold;
     color: black;
     font-size: 1.8em;
     margin: 0;
     padding-top: 10px;
}