@media (min-width: 320px) {
#caracteristicas {
    align-items: center;
    background-color:rgb(253, 248, 240);
    background-image: url("/assets/img/carta2.png");
    background-repeat: no-repeat;
    background-size: 650px 450px;
    background-position: calc(100vw - 700px) 120px;

    .caja {
        text-align: initial;
        padding: 200px 12px;

        h3 {
            text-align: left;
            font-weight: bold;
            margin: auto;
            font-size: 2em;
            padding: 5px;

            ul {
                margin-left: 5px;
                text-align: left;

                li {
                    text-align: left;
                    margin: 12px 0px;
                    font-weight: bold;
                }
            }
        }
    }

}

    #caracteristicas {
        background-position-x: calc(100vw - 800px);
    }
}