@media (min-width: 320px) {
#sumate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.541);
    color: rgb(253, 248, 240);
    height: 25vh;

    h2 {
        font-size: 4vh;
    }

    
}
}